* {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    color: black;
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: 800;
}

.recipes {
    font-size: 28px;
    background-color: #ffffe070;
}

img {
    height: auto;
    width: 450px;
    background-color: #ffffe070;
}